---
---
nav ul,
footer {
  display: none;
}
* {
  background-color: #8C2804;
  color: #ff9b4f !important;
  font-family: Helvetica, sans-serif !important;
  font-size: 1rem;
  border-top-color: #ff9b4f !important;
  animation: none !important;
  transition: none !important;
}
.nav {
  box-shadow: none !important;
}
.header {
  box-shadow: none !important;
}
.post-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-grid-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 3;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease !important, transform 0.6s ease !important;
}
.post-grid-item.visible {
  opacity: 1;
  transform: translateY(0);
}
.post-grid-item::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F2DF80;
  color: #D9580D;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s !important;
  z-index: 20;
}
.post-grid-item:hover::after {
  opacity: 1;
}
.post-title {
  font-size: 2rem;
}
.post-line {
  border-top: .1rem solid;
}
a, .nav-title, .nav a {
  color: #d9580d;
}
h1, h2, h3 {
  color: #8c2804;
}
.post-content img {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.post-content img + img {
  margin-top: -1rem;
}
.img-wrap {
  position: absolute;
}
.img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}