---
---
nav ul,
footer {
  display: none;
}
* {
  background-color: #c75525;
  color: #472e26 !important;
  font-family: Helvetica, sans-serif !important;
  font-size: 1rem;
  border-top-color: #ff9b4f !important;
  animation: none !important;
  transition: none !important;
}
.nav {
  box-shadow: none !important;
}
.nav-container {
  margin: 0 auto !important;
  padding: 0 !important;
}
.nav-container img {
  height: 25rem !important;
  width: auto !important;
  max-width: unset !important;
  display: block;
}
.header {
  box-shadow: none !important;
}
main {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.post-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.post-grid-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4 / 3;
}
.post-grid-item::after {
  content: attr(data-title);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5d5956;
  color: #b1aaa0;
  padding: 0.5rem;
  opacity: 0;
  transition: opacity 0.2s !important;
  z-index: 20;
}
.post-grid-item:hover::after {
  opacity: 1;
}
.post-title {
  font-size: 2rem;
}
.post-line {
  border-top: .1rem solid;
}
a, .nav-title, .nav a {
  color: #d9580d;
}
h1, h2, h3 {
  color: #8c2804;
}
.post-content img {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.post-content img + img {
  margin-top: -1rem;
}
.img-wrap {
  position: absolute;
}
.img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: normal;
}

@media (max-width: 940px) {
  .nav-container img {
    height: auto !important;
    width: 100vw !important;
    max-width: 100vw !important;
  }
}