<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{ '/assets/img/og-image2.png' | absolute_url }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta name="theme-color" content="#000000">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v=da1e586">
</head>
<body class="splash-body">
  <main class="splash-main">
    {{ content }}
  </main>
</body>
</html>
